* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  max-width: 1600px;
  background-color: #1a0b2e;
}

/* header styles starts */

/* nav style starts */
nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.brand-logo {
  font-size: 40px;
  font-weight: 900;
  color: white;
}
.brand-logo > span {
  background: linear-gradient(10deg, #f7e93f 5%, #fb09b4 40%, #9100f8 70%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav-menu {
  width: 218px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-btn button {
  width: 135px;
  height: 44px;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 50%, #9100f8 90%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10000px;
  line-height: 19px;
  cursor: pointer;
}
.nav-btn button i {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-left: 3px;
}
.nav-menu a:hover {
  color: #fb09b4;
}
.hamburger-menu {
  display: none;
}

/* nav style ends */

/* banner-container section starts */
hr {
  border: 0.5px solid rgba(245, 245, 220, 0.102);
}
.banner-container {
  height: 760px;
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image {
  width: 350px;
  height: 350px;
  position: relative;
}
.img-circle,
.img-mcp,
.img-pill {
  position: absolute;
}
.img-circle {
  bottom: 25%;
}
.img-mcp {
  left: 33%;
}
.img-pill {
  background-color: #00ff88;
  font-size: 18px;
  border-radius: 1000px;
  font-weight: 600;
  width: 75px;
  height: 38px;
  padding: 8px 16px;
  left: 70%;
  top: -20%;
  text-align: center;
}

/* banner-container section ends */

/* header style ends */

/* media query responsive for mobile mxw576 starts */

@media screen and (max-width: 576px) {
  .nav-menu,
  .nav-btn {
    display: none;
  }
  .hamburger-menu {
    display: inline;
    padding-right: 20px;
  }
  .brand-logo {
    padding-left: 20px;
  }
  .banner-container {
    background-size: 100%;
    height: 465px;
  }
  .img-circle {
    left: 21.5%;
    bottom: 29%;
    width: 200px;
    height: 200px;
  }
  .img-mcp {
    width: 45px;
    height: 70px;
    top: 32%;
    left: 43%;
  }
  .img-pill {
    top: 16%;
    left: 60%;
  }
}

/* media query responsive for mobile mxw576 ends */
