* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  max-width: 1600px;
  background-color: #1a0b2e;
}

/* header styles starts */

/* nav style starts */
nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 25px;
}
.brand-logo {
  font-size: 40px;
  font-weight: 900;
  color: white;
}
.brand-logo > span {
  background: linear-gradient(10deg, #f7e93f 5%, #fb09b4 40%, #9100f8 70%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav-menu {
  width: 218px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.807);
  font-weight: 500;
}

.nav-btn button {
  width: 135px;
  height: 44px;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 50%, #9100f8 90%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10000px;
  line-height: 19px;
  cursor: pointer;
}
.nav-btn button i {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-left: 3px;
}
.nav-menu a:hover {
  color: #fb09b4;
}
.hamburger-menu {
  display: none;
}

/* nav style ends */

/* banner-container section starts */
hr {
  border: 0.5px solid rgba(245, 245, 220, 0.102);
}
.banner-container {
  min-height: 760px;
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-image .img-circle,
.banner-image .img-mcp,
.banner-image .img-pill {
  position: absolute;
}
.img-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  animation: image-circle 5s ease-in-out infinite;
  transform-origin: center;
}
.img-mcp {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.img-pill {
  background-color: #00ff88;
  font-size: 18px;
  border-radius: 1000px;
  font-weight: 600;
  width: 75px;
  height: 38px;
  padding: 8px 16px;
  top: 10%;
  left: 65%;
  transform: translate(60%, -70%);
  text-align: center;
}
@keyframes image-circle {
  0% {
    transform: translate(-50%, -60%) scale(1.1);
  }
  25% {
    transform: translate(-50%, -60%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -60%) scale(1.1);
  }
  75% {
    transform: translate(-50%, -60%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -60%) scale(1.1);
  }
}

.banner-text-buttons {
  color: white;
  text-align: center;
}
.banner-text-buttons > h2 {
  font-size: 73px;
  font-weight: bolder;
}
.banner-text-buttons > p {
  padding-bottom: 24px;
  color: rgba(255, 255, 255, 0.702);
}
.banner-buttons .banner-buttons-1 {
  width: 200px;
  height: 45px;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 50%, #9100f8 90%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10000px;
  line-height: 19px;
  cursor: pointer;
}
.banner-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.banner-buttons .banner-buttons-1 img {
  vertical-align: middle;
  padding-right: 5px;
}
.banner-buttons .banner-buttons-2 {
  width: 150px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10000px;
  background-color: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
}
.banner-buttons .banner-buttons-2 img {
  vertical-align: middle;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* banner-container section ends */

/* header style ends */

/* about section starts */
.about {
  max-width: 1200px;
  color: white;
  text-align: center;
  margin: auto;
}
.about-article h2 {
  font-size: 48px;
  font-weight: bold;
}
.about-article p {
  color: rgba(255, 255, 255, 0.695);
  font-size: 16px;
  padding-bottom: 80px;
}
.counts {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 120px;
}
.counts .counts-card h2 {
  font-size: 48px;
  color: #00ff88;
}
.counts .counts-card p {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.843);
}

/* about section ends */

/* advantages section starts */
.advantages {
  color: white;
  background-color: rgba(35, 14, 61, 1);
}
.advantages-title {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}
.grid {
  max-width: 1200px;
  margin: auto;
}
.advantages-grid {
  display: grid;
  grid-template-columns: repeat(3, 390px);
  grid-template-rows: repeat(3, 260px);
  gap: 30px;
  margin: auto;
  padding-bottom: 120px;
}
.common-grid-card-styles {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.common-grid-card-styles h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 16px;
}
.common-grid-card-styles p {
  color: rgba(255, 255, 255, 0.727);
}
.common-grid-card-styles img {
  width: 45px;
  height: 53px;
}
.grid-card-headphone {
  grid-row: 1 / span 2;
}
.grid-card-device {
  grid-column: 2 / span 2;
}
.grid-card-global {
  grid-column: 2 / span 2;
}
.grid-card-exclusive {
  grid-column: 1 / span 2;
}
/* advantages section ends */

/* videos section starts */

.videos {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.card-heading {
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding-top: 120px;
}
.video-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 120px;
}

.video-container-card {
  width: 380px;
  background-color: rgba(35, 14, 61, 1);
  color: white;
  border-radius: 20px;
  text-align: left;
  overflow: hidden;
}
.video-card {
  aspect-ratio: 16/9;
}
.video-card iframe {
  width: 100%;
  height: 100%;
}
.video-title {
  padding-left: 20px;
  padding-bottom: 20px;
}
.video-title img {
  vertical-align: middle;
  padding-right: 5px;
}
.video-title span {
  color: #00ff88;
}
.video-container-card .video-title h3 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 24px;
}
.video-container-card .video-title p {
  padding: 12px 0px;
  color: rgba(255, 255, 255, 0.559);
}
/* videos section ends */

/* media query responsive for mobile mxw576 starts */

@media screen and (max-width: 576px) {
  /* header responsive area starts */
  header {
    background-color: #1a0b2e23;
  }
  .nav-menu,
  .nav-btn {
    display: none;
  }
  .hamburger-menu {
    display: inline;
    padding-right: 20px;
  }
  .brand-logo {
    padding-left: 20px;
  }
  .banner-container {
    background-size: 100%;
    min-height: 465px;
    background-position: center 60px;
  }
  .banner-image {
    width: 150px;
    height: 150px;
  }
  .img-circle {
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-mcp {
    width: 40px;
    height: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
  .img-pill {
    width: 65px;
    height: 28px;
    font-size: 12px;
    padding: 5px;
    top: 10%;
    left: 65%;
    transform: translate(10%, -20%);
  }
  .banner-text-buttons {
    margin-top: 40px;
  }
  .banner-text-buttons > h2 {
    font-size: 40px;
  }

  /* header responsive area ends */

  /* about responsive area starts */
  .about {
    padding-top: 40px;
  }
  .about-article {
    padding: 0px 10px;
  }
  .about-article h2 {
    font-size: 32px;
  }
  .counts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* about responsive area ends */

  /* advantages responsive section starts */
  .advantages-title {
    font-size: 27px;
    padding: 20px;
  }
  .advantages-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    padding: 20px;
  }
  .grid-card-headphone,
  .grid-card-device,
  .grid-card-global,
  .grid-card-exclusive,
  .grid-card-resource {
    grid-column: auto;
    grid-row: auto;
  }

  /* advantages responsive section ends */
}

/* media query responsive for mobile mxw576 ends */
