* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  max-width: 1600px;
  background-color: #1a0b2e;
}

/* header styles starts */

/* nav style starts */
nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 25px;
}
.brand-logo {
  font-size: 40px;
  font-weight: 900;
  color: white;
}
.brand-logo > span {
  background: linear-gradient(10deg, #f7e93f 5%, #fb09b4 40%, #9100f8 70%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav-menu {
  width: 218px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.807);
  font-weight: 500;
}

.nav-btn button {
  width: 135px;
  height: 44px;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 50%, #9100f8 90%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10000px;
  line-height: 19px;
  cursor: pointer;
}
.nav-btn button i {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-left: 3px;
}
.nav-menu a:hover {
  color: #fb09b4;
}
.hamburger-menu {
  display: none;
}

/* nav style ends */

/* banner-container section starts */
hr {
  border: 0.5px solid rgba(245, 245, 220, 0.102);
}
.banner-container {
  min-height: 760px;
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-image {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-image .img-circle,
.banner-image .img-mcp,
.banner-image .img-pill {
  position: absolute;
}
.img-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.img-mcp {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.img-pill {
  background-color: #00ff88;
  font-size: 18px;
  border-radius: 1000px;
  font-weight: 600;
  width: 75px;
  height: 38px;
  padding: 8px 16px;
  top: 10%;
  left: 65%;
  transform: translate(60%, -70%);
  text-align: center;
}

.banner-text-buttons {
  color: white;
  text-align: center;
}
.banner-text-buttons > h2 {
  font-size: 73px;
  font-weight: bolder;
}
.banner-text-buttons > p {
  padding-bottom: 24px;
  color: rgba(255, 255, 255, 0.702);
}
.banner-buttons .banner-buttons-1 {
  width: 200px;
  height: 45px;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 50%, #9100f8 90%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10000px;
  line-height: 19px;
  cursor: pointer;
}
.banner-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.banner-buttons .banner-buttons-1 img {
  vertical-align: middle;
  padding-right: 5px;
}
.banner-buttons .banner-buttons-2 {
  width: 150px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10000px;
  background-color: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
}
.banner-buttons .banner-buttons-2 img {
  vertical-align: middle;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* banner-container section ends */

/* header style ends */

/* about section starts */
.about {
  max-width: 1200px;
  color: white;
  text-align: center;
  margin: auto;
}
.about-article h2 {
  font-size: 48px;
  font-weight: bold;
}
.about-article p {
  color: rgba(255, 255, 255, 0.695);
  font-size: 16px;
  padding-bottom: 80px;
}
.counts {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.counts .counts-card h2 {
  font-size: 48px;
  color: #00ff88;
}
.counts .counts-card p {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.843);
}

/* about section ends */

/* media query responsive for mobile mxw576 starts */

@media screen and (max-width: 576px) {
  /* header responsive area starts */
  header {
    background-color: #1a0b2e23;
  }
  .nav-menu,
  .nav-btn {
    display: none;
  }
  .hamburger-menu {
    display: inline;
    padding-right: 20px;
  }
  .brand-logo {
    padding-left: 20px;
  }
  .banner-container {
    background-size: 100%;
    min-height: 465px;
    background-position: center 60px;
  }
  .banner-image {
    width: 150px;
    height: 150px;
  }
  .img-circle {
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-mcp {
    width: 40px;
    height: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
  }
  .img-pill {
    width: 65px;
    height: 28px;
    font-size: 12px;
    padding: 5px;
    top: 10%;
    left: 65%;
    transform: translate(10%, -20%);
  }
  .banner-text-buttons {
    margin-top: 40px;
  }
  .banner-text-buttons > h2 {
    font-size: 40px;
  }

  /* header responsive area ends */
  .about {
    padding-top: 40px;
  }
  .about-article {
    padding: 0px 10px;
  }
  .about-article h2 {
    font-size: 32px;
  }
  .counts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* media query responsive for mobile mxw576 ends */
